<nav class="navbar navbar">
        <div class="container">
            <div class="navbar-header">
                <p>Notion - Tash Sultana</p>
                <audio controls autoplay>
                    <source src="/static/audio/notion.mp3" type="audio/mpeg">
                </audio>
            </div>

            <div class="nav navbar-nav navbar-right">
                <li><a class="dope" href="home.html"> 
                    <span class="nav-color">Home</span></a></li>
                <li class="dropdown">
                    <a class="dope" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Plots<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/genre">Genres</a></li>
                        <li><a href="/countries_chart">Countries</a></li>
                        <li><a href="/us_map">USA Map</a></li>
                        <li><a href="/audio_stats">Audio Analysis</a></li>
                    </ul>
                </li>
                <li><a class="dope" href="/data"> Data</a></li> 
                <li><a class="dope" href="/powerpoint">About</a></li>                                            
            </div>
        </div>      
    </nav>
    