{% extends 'layout.html' %}

{% block body %}

    <div class = "container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">

                    <h2>Number of Streams Per Country</h2>
                    <hr>
                            <div class="btn-group">
                                <button>
                                <a href="charts/index2.html">Click to View Interactive Graph</a>
                                </button>
                            </div>
                        <br>
                        <br>
                        <img src="images/countries.png" alt="Countries Graph" style="width:650px;height:500px;">
                        <img src="images/tash8.jpg" alt="tash background photo" style="width:650px;height:660;" class="top">
                    <br>
                    <!-- <p class = "text"> ADD OPTIONAL TEXT HERE </p> -->

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                        <div class="panel-body">                                    
                            <h2>Visualizations</h2>
                            <hr>

                            <div class="row" >
                                
                                <a href="charts/index.html">GENRES</a>
                                <br>
                                <br>
                                <a href="charts/index2.html">COUNTRIES</a>
                                <br>
                                <br>
                                <a href="us_map/index.html">USA MAP</a>
                                <br>
                                <br>
                                <a href="audio_analysis/Dropdown to update bar chart.html">AUDIO ANALYSIS</a>

                            </div>
                                
                        </div>
                </div>     
            </div>    
    </div>
   </div> 
  
{% endblock %}