{% extends 'layout.html' %}

{% block body %}
<div class = "container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">

                    <h2>World Map</h2>
                    <hr>
                    <div class="btn-group">
                        <button>
                        <a href="world_map/index.html">Click To View Interactive Graph</a>
                        </button>
                    </div>
                    <br>
                    <br>
                        <img src="/static/images/worldMap.png" alt="World Map" style="width:670px;height:450px;" class="bottom2">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                        <div class="panel-body">                                    
                            <h2>Visualizations</h2>
                            <hr>

                            <div class="row" >
                                <a href="charts/index.html">GENRES</a>
                                <br>
                                <br>
                                <a href="/countries_chart">COUNTRIES</a>
                                <br>
                                <br>
                                <a href="us_map/index.html">USA MAP</a>
                                <br>
                                <br>
                                <a href="audio_analysis/Dropdown to update bar chart.html">AUDIO ANALYSIS</a>

                                <!-- <img src="images/tash2.jpg" alt="tash background photo" style="width:358px;height:100;" class="top3"> -->

                            </div>
                                
                        </div>
                </div>     
            </div>    
    </div>
   </div> 

{% endblock %}
